<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
    <dict>
        <key>category</key>
        <string>Entertainment</string>
        <key>title</key>
        <string>Netflix</string>
        <key>scheme</key>
        <string>nflx</string>
        <key>url</key>
        <string>https://apps.apple.com/us/app/netflix/id363590051</string>
        <key>image</key>
        <string>https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/09/b5/6d/09b56d25-c7e0-ca1b-60ff-748d74040116/AppIcon-1x_U007emarketing-0-10-0-0-85-220-0.png/1024x0w.webp</string>
    </dict>
    <dict>
        <key>category</key>
        <string>Entertainment</string>
        <key>title</key>
        <string>TikTok</string>
        <key>scheme</key>
        <string>tiktok</string>
        <key>url</key>
        <string>https://apps.apple.com/lc/app/tiktok/id835599320</string>
        <key>image</key>
        <string>https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/ad/24/ea/ad24ea40-3164-9787-c03f-4d6393829bbb/AppIcon_TikTok-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
    </dict>
    <dict>
        <key>category</key>
        <string>Music</string>
        <key>title</key>
        <string>Spotify</string>
        <key>scheme</key>
        <string>spotify</string>
        <key>url</key>
        <string>https://apps.apple.com/us/app/spotify-music-and-podcasts/id324684580</string>
        <key>image</key>
        <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/16/b0/e9/16b0e997-5b63-17af-597b-5694aa2dbace/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
    </dict>
    <dict>
        <key>category</key>
        <string>News</string>
        <key>title</key>
        <string>Twitter</string>
        <key>scheme</key>
        <string>twitter</string>
        <key>url</key>
        <string>https://apps.apple.com/us/app/twitter/id333903271</string>
        <key>image</key>
        <string>https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/56/d9/7f/56d97f69-5505-659b-53f5-b796da0ae4d4/ProductionAppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1024x0w.webp</string>
    </dict>
    </array>
</plist>
